@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Staatliches', cursive;
}

body {
    margin: 1rem;
}

.box {
    background-image: linear-gradient(225deg,#fbc2eb, #a6c1ee);
    border: 2px solid #333;
    padding: 10px;
}

.container {
    display: grid;
    height: 96vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 3fr 2fr;
    grid-gap: 10px;
     
} 

.box-1 {
    grid-row: 1/5;
}

