@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Staatliches', cursive;
}
.box {
    background: #bdbdbd;
    border: 2px solid #333;
    padding: 10px;
} 
